@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.container{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 226);
    font-family: 'Kanit', sans-serif;
    text-align: center;
    .content-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .logo-desc{
            margin-top: -45px;
            color: #143258;
        }
    }
    .references{     
        margin-top: -40px;   
        .group{
            display: flex;
            width: 100%;
            .admonition{
                border-radius: 5px;
                border: 1px solid rgb(170, 170, 170);
                padding: 15px 30px;
                margin: 5px 10px;
                width: 200px;
                a{
                    color: #433078;
                    font-size: 18px;
                    text-decoration: none;
                    i{
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
        .justify-center{
            justify-content: center;
        }
    }
    .footer{
        position: fixed;
        bottom: 0;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        .socials-wrapper{
            text-align: center;
            padding: 20px;
            a{
                font-size: 30px;
                padding: 0 10px;
                i{
                    color: #143258;
                }
                :hover{
                    color: #081d3a;
                }
            }
        }
    }
    .more-packages{
        margin-top: 70px;
        .group{
            display: inline-flex;
            .packages{
                margin: 5px 15px;
                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: #433078;
                }
            }
        }
    }
    .logo-desc {
        p{
            font-size: 50px;
            letter-spacing: 3px;
        }
    }
    
    .logo{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .descriptions{
        font-size: 18px;
        color: #143258;
    }
}
